<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BPMExchangeSoapBinding" />
                <binding name="IntegrationaxSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="BPMExchangeSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://ss-1c-web1.patio-minsk.by/stagepatiotrade/ws/BPMExchange"
                binding="basicHttpBinding" bindingConfiguration="BPMExchangeSoapBinding"
                contract="BPMExchange.BPMExchangePortType" name="BPMExchangeSoap" />
            <endpoint address="http://ss-1c-web1.patio-minsk.by/stagepatiotrade/ws/BPMExchange"
                binding="customBinding" bindingConfiguration="BPMExchangeSoap12Binding"
                contract="BPMExchange.BPMExchangePortType" name="BPMExchangeSoap12" />
            <endpoint address="http://srv-aos2-gate/integrationax/integrationax.asmx"
                binding="basicHttpBinding" bindingConfiguration="IntegrationaxSoap"
                contract="axaptaGate.IntegrationaxSoap" name="IntegrationaxSoap" />
        </client>
    </system.serviceModel>
</configuration>